<%- include("./commun_part/head.ejs") -%>
    <h1>Chapter <%= chap_nb %></h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Imperdiet nulla malesuada pellentesque elit. Felis imperdiet proin fermentum leo vel orci porta
        non pulvinar. Sollicitudin ac orci phasellus egestas tellus. Vivamus arcu felis bibendum ut. Ultrices vitae
        auctor eu augue ut lectus arcu. Et malesuada fames ac turpis egestas sed. Tempus iaculis urna id volutpat.
        Habitant morbi tristique senectus et netus et malesuada fames ac. Nam at lectus urna duis convallis. Nunc id
        cursus metus aliquam eleifend. Tellus cras adipiscing enim eu turpis egestas pretium aenean pharetra. Cursus sit
        amet dictum sit amet justo. Volutpat blandit aliquam etiam erat velit scelerisque in. Dolor sit amet consectetur
        adipiscing elit duis tristique. Nisi vitae suscipit tellus mauris a diam. Arcu cursus vitae congue mauris
        rhoncus. Quisque id diam vel quam elementum pulvinar etiam. Sed velit dignissim sodales ut eu sem integer. Metus
        aliquam eleifend mi in nulla.</p>
    <p>Mattis nunc sed blandit libero volutpat sed. Habitant morbi tristique senectus et netus. Consequat semper viverra
        nam libero. Sed pulvinar proin gravida hendrerit. Volutpat sed cras ornare arcu. Augue lacus viverra vitae
        congue eu consequat ac. Eu sem integer vitae justo eget magna fermentum iaculis. Pharetra vel turpis nunc eget
        lorem dolor sed viverra. Sit amet nulla facilisi morbi tempus iaculis urna. Justo laoreet sit amet cursus sit
        amet dictum sit amet. Lobortis feugiat vivamus at augue eget arcu dictum. Fermentum leo vel orci porta non
        pulvinar neque laoreet. Eu consequat ac felis donec et odio pellentesque diam. Nullam vehicula ipsum a arcu
        cursus vitae congue. Rutrum quisque non tellus orci ac auctor augue mauris. In hac habitasse platea dictumst
        quisque sagittis purus. Auctor elit sed vulputate mi sit amet mauris commodo. Rutrum tellus pellentesque eu
        tincidunt tortor. Amet nisl purus in mollis nunc sed.</p>
    <%- include("./commun_part/foot.ejs") -%>